@import "~bootstrap/scss/bootstrap";

.card-img-top {
  width: 100%;
  height: 20vw;
  object-fit: cover;
}

.navbar-brand, .nav-link {
  color: #eadbdb;
}

.description {
  color: #495057
}

.artist {
  color: #6c757d
}

.card-text {
  color: #495057
}

.page-header {
  height: 60px;
  margin-top: 0px;
  background-size: cover;
  background-image: url('https://images.squarespace-cdn.com/content/v1/5511fc7ce4b0a3782aa9418b/1429678746102-MK2TDDM4ED8DY2Z7J3JP/abstract-patterns.jpg');
}

.hoverCard {
  transition: 0.3s;
}

.hoverCard:hover {
  transform: scale(1.15);
}